body {
    text-align: center;
}

/*
 * Styles for the Panel
 */

.panel p {
  font-size: 24px;
  font-weight: bold;
}

.lives img {
    width: 32px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.hide {
    visibility: hidden;
}

/*
 * Styles for the Modal
 */

.button {
  margin: 0 auto;
  justify-content: center;
  background: coral;
  padding: 1em 2em;
  color: #fff;
  border: 0;
}

.game_over_heading {
  font-size: 27px;
  font-family: monospace;
}

.game_over_paragraph {
  font-size: 20px;
  font-family:  monospace;
}

#modal-restart.button {
  background-color: #205fde;
  font-size: 15px;
  font-family: monospace;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fafafa;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow:  0 5px 8px rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
